.images img{
  width: 100%;

}


.homeSliderContainer {
  width: 100%;
  position: relative;
  overflow: hidden; 
  /* height: 50vh; */
}

.container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

